<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>

    <% if (locals.signupSuccessMessage) { %>
        <h2><%= locals.signupSuccessMessage %></h2>
        <% } %>


    <% if (locals.invalidCredentials) { %>
        <h2><%= locals.invalidCredentials %></h2>
        <% } %>

    

    <form action="/user/login" method="post">
        <label>EMAIL</label>
        <input type="email" name="email" required><br><br>

        <label>PASSWORD</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form><br>


    <h2>Not a registered User? Then SignUp using the link below</h2>
    <button><a href="/signup">SignUp</button>
</body>
</html>